@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Ubuntu&display=swap");

/*
font-family: 'Inter', sans-serif;
font-family: 'Ubuntu', sans-serif;

 Light/Regular/Medium/Semi bold/Bold
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.capitalize {
  text-transform: capitalize;
}
.height {
  height: 100%;
}
.flex-end {
  justify-content: flex-end;
}
.pointer {
  cursor: pointer;
}
.color-white {
  color: white;
}
.transition {
  transition: 0.3s;
}
.between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.padding {
  padding: 20px;
}
.relative {
  position: relative;
}
.flexgrow {
  flex-grow: 1;
}
.flex {
  display: flex;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
.none {
  visibility: hidden;
  height: 0 !important;
  width: 0 !important;
  max-width: 0 !important;
  max-height: 0 !important;
  min-height: 0 !important;
  min-width: 0 !important;
  padding: 0 !important;
}

.gap {
  gap: 8px;
}
.gap2 {
  gap: 16px;
}

.column {
  flex-direction: column;
}

.background_linear {
  background: linear-gradient(107.03deg, #6b0fa9 13.93%, #4d0eb8 94.5%);
}
